* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion-container {
  padding: 3rem;
}

.accordion-header, .accordion-body {
  padding: 1rem;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  cursor: pointer;
  transition: background-color .3s;
}

.accordion-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.accordion-header:hover {
  background-color: #ccc;
}

.accordion-body {
  background-color: white;
  display: none;
}