body, .card-body {
  background-color: #232323 !important;
}

.card-header {
  background-color: #232323 !important;
}

h1 {
  font-family: got_heroin;
  font-size: 200px !important;
  font-weight: 100;
  color: white !important;
}

/* Dear god this font name is awful. 
It's the style I was looking for and I'm sorry 🙃 */
@font-face {
  font-family: Got_Heroin;
  src: url(./fonts/Got_Heroin.ttf);
}